.header--Container{
    width: 90%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .navBar--Container{
        color: white;
        opacity: 1;
        .itmes-Navbar--Container{
            list-style: none;
            display: flex;
            height: 100%;
            li{
                height: 100%;
                width: auto;
                padding: 20px 20px 0 20px ;
            }
        }
    }
}