.promotions--Container {
    height: 405px;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 92px;

    h1 {
        text-align: left;
        font-family: $preSetFont;
        font-size: 31px;
        font-weight: 300;
        letter-spacing: 0px;
        opacity: 1;
        color: white;
    }

    p {
        width: 440px;
        text-align: left;
        font-family: $preSetFont;
        font-size: 18px;
        font-weight: 300;
        letter-spacing: 0px;
        color: #FFFFFF;
        opacity: 1;
    }

    .buyNowBtn {
        margin-top: 50px;
        background: #FB3640;
        width: 233px;
        height: 50px;
        font-family: $preSetFont;
        text-align: center;
        font: normal normal normal 20px/24px Roboto;
        letter-spacing: 0px;
        color: #FFFFFF;
        opacity: 1;
        border-radius: 60px;
        border: 1px solid red;
    }
}