.footerNavBar--Container {
    display: flex;
    height: 60%;
    width: 100%;
    justify-content: space-around;
    align-items: center;

    .navbar-Item-Content {
        width: 90%;
        height: 100%;
        margin-top: 100px;
        margin-left: 60px;

        h1 {
            color: #FB3640;
            text-align: left;
            font: normal normal 300 18px/22px Roboto;
            letter-spacing: 0px;
            color: #FB3640;
            opacity: 1;
            margin-bottom: 10px;
        }

        p {
            text-align: left;
            font: normal normal 300 14px/17px Roboto;
            letter-spacing: 0px;
            color: #FFFFFF;
            opacity: 1;
            text-align: justify;
            padding-right: 40px;
        }

        ul {
            list-style-type: none;

            li {
                color: #FFFFFF;

                a {
                    text-align: left;
                    font: normal normal 300 18px/22px Roboto;
                    letter-spacing: 0px;
                    color: #FFFFFF;
                    opacity: 1;
                }
            }
        }
    }
}