.footerNavBar--Container {
    display: flex;
    height: 60%;
    width: 100%;
    justify-content: space-between;
    align-items: center;

    .navbar-Item-Content {
        h1 {
            color: #FB3640;
            text-align: left;
            font: normal normal 300 18px/22px Roboto;
            letter-spacing: 0px;
            color: #FB3640;
            opacity: 1;
            margin-bottom: 6px;
        }
    }
}