.SocialMedia--Container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;

    h1 {
        text-align: left;
        font: normal normal 400 20px/24px Roboto;
        letter-spacing: 0px;
        color: #FFFFFF;
        opacity: 1;
    }

    .iconsSocialMedia--Container {
        display: flex;
        width: 130px;
        justify-content: space-evenly;

        img {
            width: 30px;
            height: 30px;
        }
    }
}