@import "../components/Banner/header";
@import "../components/Banner/promotion";

.main-Banner--Container{
    height: 475px;
    width: 100%;
    background-image: url(/_next/static/media/plane.7ce9e0e9.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    filter: brightness(000.4);
}