@import "../components/Banner/header";
@import "../components/Banner/promotion";
@import "../components/Banner/modalIdioms";

.main-Banner--Container {
    height: 475px;
    width: 100%;
    background-image: url("../../public/images/plane.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.idiomsShower {
    margin-top: 7px;
    z-index: 3;
    position: absolute;
    left: calc(100% - 130px);
    display: flex;

    button {
        background: transparent;
        border: none;
        text-align: left;
        font: normal normal 400 18px/22px Roboto;
        letter-spacing: 0px;
        color: #FFFFFF;
        opacity: 1;
    }

    img {
        width: 25px;
        height: 25px;


    }
    .menu-Btn{
        display: none;
    }



}

.turn {

    img {
        width: 25px;
        height: 25px;
        transform: rotate(180deg);
        transition: all 0.5s ease-in;
    }

}


.trass {

    img {
        width: 25px;
        height: 25px;
        transform: rotate(-360deg);
        transition: all 0.5s ease-in;
    }

}

@media screen and (max-width: 768px) {
    .idiomsShower{
        left: calc(100% - 100px);
    }
}


@media screen and (max-width: 500px) {
    .idiomsShower{
        left: calc(100% - 100px);
        .menu-Btn{
            display: block;
            margin-left: 15px;
        }

    }
}  


@media screen and (max-width: 425px) {
    .idiomsShower{
        left: calc(100% - 100px);
    }
}